@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
}
body{
    width: 100%;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(image/header-bg.png);
    padding: 20px;
    list-style: none;
    color: white;
    width: 100vw;
}
#navbar{
    position: sticky;
    z-index: 1000;
    top: 0;
    left: 0;
}
#list{
    display: flex;
    list-style: none;
    
}
li a{
    text-decoration: none;
    padding:18px;
    font-size: 18px;
    color: white;
}
li i{
    font-size: 20px;
    color:rgb(245, 242, 242);
 }
#home{
    background-image: url(image/bg-photo.jpg);
    height: 40vw;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
}

#hero h2{
    display: flex;
    font-size: 36px;
    padding: 18px;
    text-align: center;
    color: white;
    justify-content: center;
    padding-top:30px;
}
#menu{
    text-align: center;
    font-size: 36px;
    padding: 10px;
}
.product{
    width: 250px;
    height: 150px;
}
#food{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
    
}
.banner{
    cursor: pointer;
}
.section-p1{
    padding: 40px 80px;
}
footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer p{
    font-size: 13px;
    margin: 0 0 8px 0;
}
footer a{
    text-decoration: none;
    color: #222;
    font-size: 13px;
    margin-bottom: 10px;
}
footer .follow{
    margin-top: 20px;
}
footer .follow i{
    color: #465b52;
    padding-right:4px;
    cursor: pointer;
}
footer .follow i:hover{
    color: #088178;
}
footer .copyright{
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 18px;
}